<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/babylon/template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        <style>
            .en_attente {
                background-color: #ff9999;
            }

            .demarre {
                background-color: #ff9900;
            }

            .termine, .cloture {
                background-color: #009900;
            }
        </style>

        <!-- DASCHBOARD -->
        <h:panelGroup
            rendered="#{(empty mainController.field.page) or mainController._equal('page','Dashboard')}">
            <ui:include src="/WEB-INF/admin/_dashboard.xhtml" />
        </h:panelGroup>
        <h:panelGroup
            rendered="#{mainController._equal('page','Gestion des moniteurs')}">
            <ui:include src="/WEB-INF/admin/_moniteur.xhtml" />
        </h:panelGroup>
        
        <!-- UTILISATEUR -->
        <h:panelGroup rendered="#{mainController._equal('page','profil')}">
            <ui:include src="/WEB-INF/admin/acteur/_profil.xhtml" />
        </h:panelGroup>
        <h:panelGroup
            rendered="#{mainController._equal('page','Gestion des acteurs')}">
            <ui:include src="/WEB-INF/admin/acteur/_gestion.xhtml" />
        </h:panelGroup>

        <!-- PARAMETRE ET MAINTENANCE -->
        <h:panelGroup
            rendered="#{mainController._equal('page', 'Parametres')}">
            <ui:include src="/WEB-INF/param/_generale.xhtml" />
        </h:panelGroup>
        <h:panelGroup
            rendered="#{mainController._equal('page', 'Maintenance')}">
            <ui:include src="/WEB-INF/admin/config/_index.xhtml" />
        </h:panelGroup>
    </ui:define>
</ui:composition>