<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="AbonnementCompteDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="AbonnementCompteDialog" 
              header="Fiche AbonnementCompte"  >
        <h:form id="AbonnementCompteForm" >
            <h:panelGroup rendered="#{not empty abonnementCompteController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="abonnement" value="abonnement"/>
                        <p:selectOneMenu  id="abonnement"  filter="true" filterMatchMode="contains" value="#{abonnementCompteController.selected.abonnement}" >
                            <f:selectItems var="abonnement" 
                                           value="#{abonnementController.itemList}"
                                           itemValue="#{abonnement}"
                                           itemLabel="#{abonnement.libelle}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="client" value="client"/>
                        <p:selectOneMenu  id="client"  filter="true" filterMatchMode="contains" value="#{abonnementCompteController.selected.client}" >
                            <f:selectItems var="client" 
                                           value="#{clientController.itemList}"
                                           itemValue="#{client}"
                                           itemLabel="#{client.libelle}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="compte" value="compte"/>
                        <p:selectOneMenu  id="compte"  filter="true" filterMatchMode="contains" value="#{abonnementCompteController.selected.compte}" >
                            <f:selectItems var="compte" 
                                           value="#{compteController.itemList}"
                                           itemValue="#{compte}"
                                           itemLabel="#{compte.libelle}"/>
                        </p:selectOneMenu>
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :AbonnementCompteListForm"
                                     oncomplete="handleSubmit(args,'AbonnementCompteDialog')"
                                     actionListener="#{abonnementCompteController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>