<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="AbonnementCompteListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{abonnementCompte.id}"
                selectionMode="single"
                selection="#{abonnementCompteController.selected}"
                var="abonnementCompte"
                value="#{abonnementCompteController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":AbonnementCompteForm"
                            oncomplete="PF('AbonnementCompteDialog').show();"
                            actionListener="#{abonnementCompteController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty abonnementCompteController.selected}"
                            update=":AbonnementCompteForm"
                            oncomplete="PF('AbonnementCompteDialog').show();"
                            actionListener="#{abonnementCompteController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty abonnementCompteController.selected}"
                            update="@form"
                            actionListener="#{abonnementCompteController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="abonnement" width="150" >
                    <h:outputText value="#{abonnementCompte.abonnement.libelle}" />
                </p:column>
                <p:column headerText="client" width="150" >
                    <h:outputText value="#{abonnementCompte.client.libelle}" />
                </p:column>
                <p:column headerText="compte" width="150" >
                    <h:outputText value="#{abonnementCompte.compte.libelle}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>