<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="AbonnementDlg" 
              modal="true"
              width="800"
              resizable="false"
              widgetVar="AbonnementDialog" 
              header="Fiche Abonnement"  >

        <h:form id="AbonnementForm" >
            <h:panelGroup rendered="#{not empty abonnementController.selected}" >

                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-8" >
                        <p:outputLabel for="numero" value="Numero client"/>
                        <p:inputText required="true" id="numero" value="#{abonnementController.selected.numero}" >
                            <p:ajax listener="#{abonnementController.loadActeur}" update="@form" />
                        </p:inputText>
                    </div>
                    <div class="ui-g-12 ui-md-4" >
                        <p:outputLabel for="agence" value="Code agence"/>
                        <p:inputText readonly="#{parametreController.selected.connexionCbs?true:false}" id="agence" value="#{abonnementController.selected.age}" >
                            <p:ajax update="@form" />
                        </p:inputText>
                    </div>
                    <div class="ui-g-12 ui-md-4" >
                        <p:outputLabel for="nom" value="Nom"/>
                        <p:inputText readonly="#{parametreController.selected.connexionCbs?true:false}" id="nom" value="#{abonnementController.selected.nom}" />
                    </div>
                    <div class="ui-g-12 ui-md-4" >
                        <p:outputLabel for="prenoms" value="Prenoms"/>
                        <p:inputText readonly="#{parametreController.selected.connexionCbs?true:false}" id="prenoms" value="#{abonnementController.selected.prenoms}" />
                    </div>
                    <div class="ui-g-12 ui-md-4" >
                        <p:outputLabel for="raisonSocial" value="Raison social"/>
                        <p:inputText readonly="#{parametreController.selected.connexionCbs?true:false}" id="raisonSocial" value="#{abonnementController.selected.raisonSocial}" />
                    </div>
                    <h:panelGroup class="ui-g-12 ui-md-4" id="mdp_panel" >
                        <h:panelGroup rendered="#{abonnementController.selected.cryptageReleve}" >
                            <p:outputLabel for="motDePasse" value="Mot de passe"/>
                            <p:inputText rendered="false" readonly="true" required="true" placeholder="Mot de passe" id="motDePasse" value="#{abonnementController.selected.motDePasse}" /><br/>
                            <p:commandLink value="Regenerer le mot de passe" update="mdp_panel" actionListener="#{abonnementController.regenererMotDePasse}" />
                        </h:panelGroup>
                    </h:panelGroup>
                    <div class="ui-g-12" >
                        <p:outputLabel for="adresseMail" value="Adresse mail"/>
                        <p:chips  required="true" id="adresseMail" value="#{abonnementController.selected.adresseMailList}" />
                    </div>
                    <div class="ui-g-12" >
                        COMPTES
                    </div>
                    <div class="ui-g-12" >
                        <p:commandLink 
                            rendered="#{parametreController.selected.connexionCbs?true:false}"
                            disabled="#{empty abonnementController.selected.client}"
                            actionListener="#{abonnementController.loadCompte}" 
                            value="Actualiser les informations" 
                            update="@form" />

                        <p:commandLink 
                            immediate="true"
                            id="btnAjouterCompte"
                            disabled="#{(empty abonnementController.selected.numero) || (empty abonnementController.selected.age)}"
                            update=":CompteForm"
                            oncomplete="PF('CompteDialog').show();"
                            actionListener="#{compteController.prepareCreate()}"
                            rendered="#{parametreController.selected.connexionCbs?false:true}"
                            value="Ajouter un compte" />

                        <p:dataTable 
                            rowIndexVar="index"
                            var="ac"
                            value="#{abonnementCompteController.itemList}">
                            <p:column headerText="N° Compte" width="200" >
                                <h:outputText value="#{ac.compte.ncp}" />
                            </p:column>
                            <p:column headerText="Cle rib" width="50" >
                                <h:outputText value="#{ac.compte.ribdec}" />
                            </p:column>
                            <p:column headerText="Etat" width="50" >
                                <p:selectBooleanCheckbox value="#{ac.enabled}" >
                                    <p:ajax listener="#{abonnementCompteController.updateRow(index)}"/>
                                </p:selectBooleanCheckbox>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>

                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :AbonnementListForm"
                                     oncomplete="handleSubmitAndNotClose(args,'AbonnementDialog')"
                                     actionListener="#{abonnementController.enregisterAbonnement()}" />
                    <p:spacer width="10" />
                    <p:commandButton 
                        rendered="#{not empty abonnementController.selected.id}"
                        value="Immprimer le contrat" 
                        ajax="false" />
                </div>

            </h:panelGroup>
        </h:form>




    </p:dialog>
</ui:composition>