<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="AbonnementListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{abonnement.id}"
                selectionMode="single"
                selection="#{abonnementController.selected}"
                var="abonnement"
                value="#{abonnementController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":AbonnementForm"
                            oncomplete="PF('AbonnementDialog').show();"
                            actionListener="#{abonnementController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty abonnementController.selected}"
                            update=":AbonnementForm"
                            oncomplete="PF('AbonnementDialog').show();"
                            actionListener="#{abonnementController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty abonnementController.selected}"
                            update="@form"
                            actionListener="#{abonnementController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="reference" width="150" >
                        <h:outputText value="#{abonnement.reference}" />
                </p:column>
                <p:column headerText="client" width="150" >
                    <h:outputText value="#{abonnement.client.libelle}" />
                </p:column>
                <p:column headerText="numero" width="150" >
                        <h:outputText value="#{abonnement.numero}" />
                </p:column>
                <p:column headerText="nom" width="150" >
                        <h:outputText value="#{abonnement.nom}" />
                </p:column>
                <p:column headerText="prenoms" width="150" >
                        <h:outputText value="#{abonnement.prenoms}" />
                </p:column>
                <p:column headerText="raisonSocial" width="150" >
                        <h:outputText value="#{abonnement.raisonSocial}" />
                </p:column>
                <p:column headerText="periodicite" width="150" >
                    <h:outputText value="#{abonnement.periodicite.libelle}" />
                </p:column>
                <p:column headerText="agence" width="150" >
                    <h:outputText value="#{abonnement.agence.libelle}" />
                </p:column>
                <p:column headerText="periodiciteNbJour" width="150" >
                    <h:outputText value="#{abonnement.periodiciteNbJour}" >
                        <f:convertNumber/>
                    </h:outputText>
                </p:column>
                <p:column headerText="type" width="150" >
                    <h:outputText value="#{abonnement.type}" >
                        <f:convertNumber/>
                    </h:outputText>
                </p:column>
                <p:column headerText="adresseMail" width="150" >
                        <h:outputText value="#{abonnement.adresseMail}" />
                </p:column>
                <p:column headerText="dateEnvoie" width="150" >
                    <h:outputText value="#{abonnement.dateEnvoie}" >
                        <f:convertDateTime pattern="DD/MM/yyyy" />
                    </h:outputText>
                </p:column>
                <p:column headerText="cryptageReleve" width="150" >
                    <p:selectBooleanCheckbox disabled="true" value="#{abonnement.cryptageReleve}" />
                </p:column>
                <p:column headerText="motDePasse" width="150" >
                        <h:outputText value="#{abonnement.motDePasse}" />
                </p:column>
                <p:column headerText="etat" width="150" >
                    <h:outputText value="#{abonnement.etat}" >
                        <f:convertNumber/>
                    </h:outputText>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>