<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="AbonnementEnMasseDlg" 
              modal="true"
              width="800"
              resizable="false"
              widgetVar="AbonnementEnMasseDialog" 
              header="Fiche AbonnementEnMasse"  >
         <h:form enctype="multipart/form-data" id="AbonnementEnMasseForm" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <h5> 1 - Télcharger le modele de fichier</h5>
                    </div>
                    <div class="ui-g-12" >
                        <a href="/resources/modele/modele.xlsx" >Télécharger le modèle de chargement</a>
                        <br/><br/>
                    </div>
                    <div class="ui-g-12" >
                        <h5> 2 - Charger le fichier excel</h5>
                    </div>
                    <div class="ui-g-12" >
                        <p:fileUpload 
                            value="#{abonnementController.field.chargementAuto}" 
                            mode="simple" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton 
                        ajax="false"
                        value="Soumettre les abonnements" 
                        update="@form :AbonnementEnMasseListForm"
                        oncomplete="handleSubmitAndNotClose(args,'AbonnementEnMasseDialog')"
                        actionListener="#{abonnementController.abonnementEnMasse}" />
                </div>
        </h:form>
    </p:dialog>
</ui:composition>