<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="AgenceDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="AgenceDialog" 
              header="Fiche Agence"  >
        <h:form id="AgenceForm" >
            <h:panelGroup rendered="#{not empty agenceController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="libelle" value="libelle"/>
                        <p:inputText id="libelle" value="#{agenceController.selected.libelle}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :AgenceListForm"
                                     oncomplete="handleSubmit(args,'AgenceDialog')"
                                     actionListener="#{agenceController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>