<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="ClientDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="ClientDialog" 
              header="Fiche Client"  >
        <h:form id="ClientForm" >
            <h:panelGroup rendered="#{not empty clientController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="numero" value="numero"/>
                        <p:inputText id="numero" value="#{clientController.selected.numero}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="nom" value="nom"/>
                        <p:inputText id="nom" value="#{clientController.selected.nom}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="prenoms" value="prenoms"/>
                        <p:inputText id="prenoms" value="#{clientController.selected.prenoms}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="raisonSocial" value="raisonSocial"/>
                        <p:inputText id="raisonSocial" value="#{clientController.selected.raisonSocial}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :ClientListForm"
                                     oncomplete="handleSubmit(args,'ClientDialog')"
                                     actionListener="#{clientController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>