<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="ClientListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{client.id}"
                selectionMode="single"
                selection="#{clientController.selected}"
                var="client"
                value="#{clientController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":ClientForm"
                            oncomplete="PF('ClientDialog').show();"
                            actionListener="#{clientController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty clientController.selected}"
                            update=":ClientForm"
                            oncomplete="PF('ClientDialog').show();"
                            actionListener="#{clientController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty clientController.selected}"
                            update="@form"
                            actionListener="#{clientController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="numero" width="150" >
                        <h:outputText value="#{client.numero}" />
                </p:column>
                <p:column headerText="nom" width="150" >
                        <h:outputText value="#{client.nom}" />
                </p:column>
                <p:column headerText="prenoms" width="150" >
                        <h:outputText value="#{client.prenoms}" />
                </p:column>
                <p:column headerText="raisonSocial" width="150" >
                        <h:outputText value="#{client.raisonSocial}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>