<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="CompteDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="CompteDialog" 
              header="Fiche Compte">

        <h:form id="CompteForm" >
            <h:panelGroup rendered="#{not empty compteController.selected}" >
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12" >
                        <p:outputLabel value="N° Client" for="client"/>
                        <p:inputText id="client" readonly="true" value="#{abonnementController.selected.numero}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel value="Agence" for="agence"/>
                        <p:inputText id="agence" readonly="true" value="#{abonnementController.selected.age}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel value="N°compte (9 Caracteres)" for="ncp"/>
                        <p:inputText  required="true" id="ncp" value="#{compteController.selected.ncp}" >
                            <p:ajax update="@form" listener="#{compteController.loadCompte}" />
                        </p:inputText>
                    </div>
                    <div class="ui-g-12 ui-md-6" >
                        <p:outputLabel value="Cle compte (2 Caracteres)" for="clc"/>
                        <p:inputText required="true" id="clc" value="#{compteController.selected.clc}" />
                    </div>
                    <div class="ui-g-12 ui-md-6" >
                        <p:outputLabel value="Cle RIB (2 Caracteres)" for="rib"/>
                        <p:inputText required="true" id="rib" value="#{compteController.selected.ribdec}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :AbonnementForm"
                                     oncomplete="handleSubmit(args,'CompteDialog')"
                                     actionListener="#{compteController.creer()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>