<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="CompteListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{compte.id}"
                selectionMode="single"
                selection="#{compteController.selected}"
                var="compte"
                value="#{compteController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":CompteForm"
                            oncomplete="PF('CompteDialog').show();"
                            actionListener="#{compteController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty compteController.selected}"
                            update=":CompteForm"
                            oncomplete="PF('CompteDialog').show();"
                            actionListener="#{compteController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty compteController.selected}"
                            update="@form"
                            actionListener="#{compteController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="client" width="150" >
                    <h:outputText value="#{compte.client.libelle}" />
                </p:column>
                <p:column headerText="agence" width="150" >
                    <h:outputText value="#{compte.agence.libelle}" />
                </p:column>
                <p:column headerText="rib" width="150" >
                        <h:outputText value="#{compte.rib}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>