<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="ContenuFichierListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{contenuFichier.id}"
                selectionMode="single"
                selection="#{contenuFichierController.selected}"
                var="contenuFichier"
                value="#{contenuFichierController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":ContenuFichierForm"
                            oncomplete="PF('ContenuFichierDialog').show();"
                            actionListener="#{contenuFichierController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty contenuFichierController.selected}"
                            update=":ContenuFichierForm"
                            oncomplete="PF('ContenuFichierDialog').show();"
                            actionListener="#{contenuFichierController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty contenuFichierController.selected}"
                            update="@form"
                            actionListener="#{contenuFichierController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="type" width="150" >
                    <h:outputText value="#{contenuFichier.type}" >
                        <f:convertNumber/>
                    </h:outputText>
                </p:column>
                <p:column headerText="fichier" width="150" >
                    <h:outputText value="#{contenuFichier.fichier.libelle}" />
                </p:column>
                <p:column headerText="abonnement" width="150" >
                    <h:outputText value="#{contenuFichier.abonnement.libelle}" />
                </p:column>
                <p:column headerText="compte" width="150" >
                    <h:outputText value="#{contenuFichier.compte.libelle}" />
                </p:column>
                <p:column headerText="client" width="150" >
                    <h:outputText value="#{contenuFichier.client.libelle}" />
                </p:column>
                <p:column headerText="dateEnvoi" width="150" >
                    <h:outputText value="#{contenuFichier.dateEnvoi}" >
                        <f:convertDateTime pattern="DD/MM/yyyy" />
                    </h:outputText>
                </p:column>
                <p:column headerText="numeroCompteLu" width="150" >
                        <h:outputText value="#{contenuFichier.numeroCompteLu}" />
                </p:column>
                <p:column headerText="contenu" width="150" >
                        <h:outputText value="#{contenuFichier.contenu}" />
                </p:column>
                <p:column headerText="transmiAuClient" width="150" >
                    <p:selectBooleanCheckbox disabled="true" value="#{contenuFichier.transmiAuClient}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>