<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="DatabaseListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{database.id}"
                selectionMode="single"
                selection="#{databaseController.selected}"
                var="database"
                value="#{databaseController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":DatabaseForm"
                            oncomplete="PF('DatabaseDialog').show();"
                            actionListener="#{databaseController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty databaseController.selected}"
                            update=":DatabaseForm"
                            oncomplete="PF('DatabaseDialog').show();"
                            actionListener="#{databaseController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty databaseController.selected}"
                            update="@form"
                            actionListener="#{databaseController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="type" width="150" >
                        <h:outputText value="#{database.type}" />
                </p:column>
                <p:column headerText="ip" width="150" >
                        <h:outputText value="#{database.ip}" />
                </p:column>
                <p:column headerText="port" width="150" >
                        <h:outputText value="#{database.port}" />
                </p:column>
                <p:column headerText="libelle" width="150" >
                        <h:outputText value="#{database.libelle}" />
                </p:column>
                <p:column headerText="login" width="150" >
                        <h:outputText value="#{database.login}" />
                </p:column>
                <p:column headerText="pass" width="150" >
                        <h:outputText value="#{database.pass}" />
                </p:column>
                <p:column headerText="status" width="150" >
                        <h:outputText value="#{database.status}" />
                </p:column>
            </p:dataTable>
        </h:form>
        
        
        <ui:include src="/WEB-INF/param/_database_dialog.xhtml" />
    </ui:define>
</ui:composition>