<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="EvenementDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="EvenementDialog" 
              header="Fiche Evenement"  >
        <h:form id="EvenementForm" >
            <h:panelGroup rendered="#{not empty evenementController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="libelle" value="libelle"/>
                        <p:inputText id="libelle" value="#{evenementController.selected.libelle}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="type" value="type"/>
                        <p:inputNumber id="type" value="#{evenementController.selected.type}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="level" value="level"/>
                        <p:inputNumber id="level" value="#{evenementController.selected.level}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="notifierActeurs" value="notifierActeurs"/>
                        <p:selectBooleanCheckbox  id="notifierActeurs" value="#{evenementController.selected.notifierActeurs}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="acteursNotifies" value="acteursNotifies"/>
                        <p:selectBooleanCheckbox  id="acteursNotifies" value="#{evenementController.selected.acteursNotifies}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :EvenementListForm"
                                     oncomplete="handleSubmit(args,'EvenementDialog')"
                                     actionListener="#{evenementController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>