<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="FichierDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="FichierDialog" 
              header="Fiche Fichier"  >
        <h:form id="FichierForm" >
            <h:panelGroup rendered="#{not empty fichierController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="nom" value="nom"/>
                        <p:inputText id="nom" value="#{fichierController.selected.nom}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="taille" value="taille"/>
                        <p:inputNumber id="taille" value="#{fichierController.selected.taille}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="traite" value="traite"/>
                        <p:selectBooleanCheckbox  id="traite" value="#{fichierController.selected.traite}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :FichierListForm"
                                     oncomplete="handleSubmit(args,'FichierDialog')"
                                     actionListener="#{fichierController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>