<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="FichierListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{fichier.id}"
                selectionMode="single"
                selection="#{fichierController.selected}"
                var="fichier"
                value="#{fichierController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":FichierForm"
                            oncomplete="PF('FichierDialog').show();"
                            actionListener="#{fichierController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty fichierController.selected}"
                            update=":FichierForm"
                            oncomplete="PF('FichierDialog').show();"
                            actionListener="#{fichierController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty fichierController.selected}"
                            update="@form"
                            actionListener="#{fichierController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="nom" width="150" >
                        <h:outputText value="#{fichier.nom}" />
                </p:column>
                <p:column headerText="taille" width="150" >
                    <h:outputText value="#{fichier.taille}" >
                        <f:convertNumber/>
                    </h:outputText>
                </p:column>
                <p:column headerText="traite" width="150" >
                    <p:selectBooleanCheckbox disabled="true" value="#{fichier.traite}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>