<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml" >
    <ui:define name="param-content" >
        <h:form id="ParamForm" >
            <div class="ui-g ui-fluid" >
                <div class="ui-g-12" >
                    <p:outputLabel value="Url de base" />
                    <p:inputText value="#{applicationController.parametre.httpUrl}" />
                </div>
                <div class="ui-g-12" >
                    <p:outputLabel value="Nb pdf par email" />
                    <p:inputText value="#{applicationController.parametre.nbPdfParEmail}" />
                </div>
                <div class="ui-g-12" >
                    <p:outputLabel value="Connexion CBS" />
                    <p:selectBooleanCheckbox itemLabel="Connexion vers le CBS" value="#{applicationController.parametre.connexionCbs}" />
                </div>
                <div class="ui-g-12 right-align dialog-bottom">
                    <p:commandLink
                        actionListener="#{applicationController.saveParam()}"
                        styleClass="btn cur-p btn-outline-primary">
                        Enregistrer le parametres
                    </p:commandLink>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>