<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="ModelTestListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{modelTest.id}"
                selectionMode="single"
                selection="#{modelTestController.selected}"
                var="modelTest"
                value="#{modelTestController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":ModelTestForm"
                            oncomplete="PF('ModelTestDialog').show();"
                            actionListener="#{modelTestController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty modelTestController.selected}"
                            update=":ModelTestForm"
                            oncomplete="PF('ModelTestDialog').show();"
                            actionListener="#{modelTestController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty modelTestController.selected}"
                            update="@form"
                            actionListener="#{modelTestController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="nom" width="150" >
                        <h:outputText value="#{modelTest.nom}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>