<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="ModelTestDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="ModelTestDialog" 
              header="Fiche ModelTest"  >
        <h:form id="ModelTestForm" >
            <h:panelGroup rendered="#{not empty modelTestController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="nom" value="nom"/>
                        <p:inputText id="nom" value="#{modelTestController.selected.nom}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :ModelTestListForm"
                                     oncomplete="handleSubmit(args,'ModelTestDialog')"
                                     actionListener="#{modelTestController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>