<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="MoniteurDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="MoniteurDialog" 
              header="Fiche Moniteur"  >
        <h:form id="MoniteurForm" >
            <h:panelGroup rendered="#{not empty moniteurController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="type" value="type"/>
                        <p:inputNumber id="type" value="#{moniteurController.selected.type}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="libelle" value="libelle"/>
                        <p:inputText id="libelle" value="#{moniteurController.selected.libelle}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="token" value="token"/>
                        <p:inputText id="token" value="#{moniteurController.selected.token}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="champJson" value="champJson"/>
                        <p:inputText id="champJson" value="#{moniteurController.selected.champJson}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :MoniteurListForm"
                                     oncomplete="handleSubmit(args,'MoniteurDialog')"
                                     actionListener="#{moniteurController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>