<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="PeriodiciteDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="PeriodiciteDialog" 
              header="Fiche Periodicite"  >
        <h:form id="PeriodiciteForm" >
            <h:panelGroup rendered="#{not empty periodiciteController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="nbJour" value="Nb Jour"/>
                        <p:inputNumber id="nbJour" value="#{periodiciteController.selected.nbJour}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :PeriodiciteListForm"
                                     oncomplete="handleSubmit(args,'PeriodiciteDialog')"
                                     actionListener="#{periodiciteController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>