<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="RetraitCarteListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{retraitCarte.id}"
                selectionMode="single"
                selection="#{retraitCarteController.selected}"
                var="retraitCarte"
                value="#{retraitCarteController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":RetraitCarteForm"
                            oncomplete="PF('RetraitCarteDialog').show();"
                            actionListener="#{retraitCarteController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty retraitCarteController.selected}"
                            update=":RetraitCarteForm"
                            oncomplete="PF('RetraitCarteDialog').show();"
                            actionListener="#{retraitCarteController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty retraitCarteController.selected}"
                            update="@form"
                            actionListener="#{retraitCarteController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="compte" width="150" >
                        <h:outputText value="#{retraitCarte.compte}" />
                </p:column>
                <p:column headerText="chiffre4" width="150" >
                        <h:outputText value="#{retraitCarte.chiffre4}" />
                </p:column>
                <p:column headerText="typePiece" width="150" >
                        <h:outputText value="#{retraitCarte.typePiece}" />
                </p:column>
                <p:column headerText="remoteId" width="150" >
                        <h:outputText value="#{retraitCarte.remoteId}" />
                </p:column>
                <p:column headerText="rectoRecu" width="150" >
                    <p:selectBooleanCheckbox disabled="true" value="#{retraitCarte.rectoRecu}" />
                </p:column>
                <p:column headerText="versoRecu" width="150" >
                    <p:selectBooleanCheckbox disabled="true" value="#{retraitCarte.versoRecu}" />
                </p:column>
                <p:column headerText="signRecu" width="150" >
                    <p:selectBooleanCheckbox disabled="true" value="#{retraitCarte.signRecu}" />
                </p:column>
                <p:column headerText="docComplet" width="150" >
                    <p:selectBooleanCheckbox disabled="true" value="#{retraitCarte.docComplet}" />
                </p:column>
                <p:column headerText="contratGenere" width="150" >
                    <p:selectBooleanCheckbox disabled="true" value="#{retraitCarte.contratGenere}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>