<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="RetraitCarteDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="RetraitCarteDialog" 
              header="Fiche RetraitCarte"  >
        <h:form id="RetraitCarteForm" >
            <h:panelGroup rendered="#{not empty retraitCarteController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="compte" value="compte"/>
                        <p:inputText id="compte" value="#{retraitCarteController.selected.compte}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="chiffre4" value="chiffre4"/>
                        <p:inputText id="chiffre4" value="#{retraitCarteController.selected.chiffre4}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="typePiece" value="typePiece"/>
                        <p:inputText id="typePiece" value="#{retraitCarteController.selected.typePiece}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="remoteId" value="remoteId"/>
                        <p:inputText id="remoteId" value="#{retraitCarteController.selected.remoteId}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="rectoRecu" value="rectoRecu"/>
                        <p:selectBooleanCheckbox  id="rectoRecu" value="#{retraitCarteController.selected.rectoRecu}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="versoRecu" value="versoRecu"/>
                        <p:selectBooleanCheckbox  id="versoRecu" value="#{retraitCarteController.selected.versoRecu}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="signRecu" value="signRecu"/>
                        <p:selectBooleanCheckbox  id="signRecu" value="#{retraitCarteController.selected.signRecu}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="docComplet" value="docComplet"/>
                        <p:selectBooleanCheckbox  id="docComplet" value="#{retraitCarteController.selected.docComplet}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="contratGenere" value="contratGenere"/>
                        <p:selectBooleanCheckbox  id="contratGenere" value="#{retraitCarteController.selected.contratGenere}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :RetraitCarteListForm"
                                     oncomplete="handleSubmit(args,'RetraitCarteDialog')"
                                     actionListener="#{retraitCarteController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>