<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="ServiceDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="ServiceDialog" 
              header="Fiche Service"  >
        <h:form id="ServiceForm" >
            <h:panelGroup rendered="#{not empty serviceController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="libelle" value="libelle"/>
                        <p:inputText id="libelle" value="#{serviceController.selected.libelle}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="type" value="type"/>
                        <p:inputNumber id="type" value="#{serviceController.selected.type}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="proprieteJson" value="proprieteJson"/>
                        <p:inputText id="proprieteJson" value="#{serviceController.selected.proprieteJson}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="statusJson" value="statusJson"/>
                        <p:inputText id="statusJson" value="#{serviceController.selected.statusJson}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :ServiceListForm"
                                     oncomplete="handleSubmit(args,'ServiceDialog')"
                                     actionListener="#{serviceController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>