<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="TransmissionDlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="TransmissionDialog" 
              header="Fiche Transmission"  >
        <h:form id="TransmissionForm" >
            <h:panelGroup rendered="#{not empty transmissionController.selected}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="client" value="client"/>
                        <p:selectOneMenu  id="client"  filter="true" filterMatchMode="contains" value="#{transmissionController.selected.client}" >
                            <f:selectItems var="client" 
                                           value="#{clientController.itemList}"
                                           itemValue="#{client}"
                                           itemLabel="#{client.libelle}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="numero" value="numero"/>
                        <p:inputText id="numero" value="#{transmissionController.selected.numero}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="nom" value="nom"/>
                        <p:inputText id="nom" value="#{transmissionController.selected.nom}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="prenoms" value="prenoms"/>
                        <p:inputText id="prenoms" value="#{transmissionController.selected.prenoms}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="raisonSocial" value="raisonSocial"/>
                        <p:inputText id="raisonSocial" value="#{transmissionController.selected.raisonSocial}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="abonnement" value="abonnement"/>
                        <p:selectOneMenu  id="abonnement"  filter="true" filterMatchMode="contains" value="#{transmissionController.selected.abonnement}" >
                            <f:selectItems var="abonnement" 
                                           value="#{abonnementController.itemList}"
                                           itemValue="#{abonnement}"
                                           itemLabel="#{abonnement.libelle}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="nbDebit" value="nbDebit"/>
                        <p:inputNumber id="nbDebit" value="#{transmissionController.selected.nbDebit}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="nbCredit" value="nbCredit"/>
                        <p:inputNumber id="nbCredit" value="#{transmissionController.selected.nbCredit}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="nbMt103" value="nbMt103"/>
                        <p:inputNumber id="nbMt103" value="#{transmissionController.selected.nbMt103}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="type" value="type"/>
                        <p:inputNumber id="type" value="#{transmissionController.selected.type}" />
                    </div>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :TransmissionListForm"
                                     oncomplete="handleSubmit(args,'TransmissionDialog')"
                                     actionListener="#{transmissionController.save()}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>