<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="TransmissionListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="#{transmission.id}"
                selectionMode="single"
                selection="#{transmissionController.selected}"
                var="transmission"
                value="#{transmissionController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":TransmissionForm"
                            oncomplete="PF('TransmissionDialog').show();"
                            actionListener="#{transmissionController.prepareCreate()}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="#{empty transmissionController.selected}"
                            update=":TransmissionForm"
                            oncomplete="PF('TransmissionDialog').show();"
                            actionListener="#{transmissionController.prepareUpdate()}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="#{empty transmissionController.selected}"
                            update="@form"
                            actionListener="#{transmissionController.remove()}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <p:column headerText="client" width="150" >
                    <h:outputText value="#{transmission.client.libelle}" />
                </p:column>
                <p:column headerText="numero" width="150" >
                        <h:outputText value="#{transmission.numero}" />
                </p:column>
                <p:column headerText="nom" width="150" >
                        <h:outputText value="#{transmission.nom}" />
                </p:column>
                <p:column headerText="prenoms" width="150" >
                        <h:outputText value="#{transmission.prenoms}" />
                </p:column>
                <p:column headerText="raisonSocial" width="150" >
                        <h:outputText value="#{transmission.raisonSocial}" />
                </p:column>
                <p:column headerText="abonnement" width="150" >
                    <h:outputText value="#{transmission.abonnement.libelle}" />
                </p:column>
                <p:column headerText="nbDebit" width="150" >
                    <h:outputText value="#{transmission.nbDebit}" >
                        <f:convertNumber/>
                    </h:outputText>
                </p:column>
                <p:column headerText="nbCredit" width="150" >
                    <h:outputText value="#{transmission.nbCredit}" >
                        <f:convertNumber/>
                    </h:outputText>
                </p:column>
                <p:column headerText="nbMt103" width="150" >
                    <h:outputText value="#{transmission.nbMt103}" >
                        <f:convertNumber/>
                    </h:outputText>
                </p:column>
                <p:column headerText="type" width="150" >
                    <h:outputText value="#{transmission.type}" >
                        <f:convertNumber/>
                    </h:outputText>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>