<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/content-template.xhtml">

    <ui:define name="viewname">
        <li>/ Tableau de bord</li>
    </ui:define>

    <ui:define name="page-content">
        <f:metadata>
        </f:metadata>
        
        <div>
            <p:commandButton
                id="AddBtn"
                icon="fa fa-plus"
                update=":DatabaseForm"
                oncomplete="PF('DatabaseDialog').show();"
                action="#{serviceController.prepareCreate()}"
                value="Ajouter" />

            <p:commandButton 
                id="DeleteBtn"
                icon="fa fa-trash"
                disabled="#{empty serviceController.selected}"
                update=":form-1:databases"
                actionListener="#{serviceController.remove()}"
                value="Supprimer">
                <p:confirm message="Veuillez confirmer la suppression" />
            </p:commandButton>  
        </div>

        <h:form id="form-1">
            
            <p:poll delay="10000" update="@form" />
            
            <div class="layout-dashboard ijs" id="ijs-redaction-stat" ijs-info="ijs-info-redaction-stat" ijs-step="1">
                <div style="margin-top: 10px;">
                    
                    <h:panelGroup id="databases" class="row">
                        <p:repeat  var="db" value="#{serviceController.itemList}">
                            <div class="col-md-4">
                                <p:commandLink
                                    actionListener="#{serviceController.select(db)}"
                                    update=":DatabaseForm"
                                    oncomplete="PF('DatabaseDialog').show();">

                                    <div class="overview-box" style="background-color : #{db.statusService.libelle == 'actif' ? '#13AFA5' : 'red'}">
                                        <i class="overview-icon fa fa-database"></i><span
                                            class="overview-title">#{db.libelle}</span>
                                        <i class="overview-arrow fa"></i>
                                        <div class="overview-numbers"></div>
                                        <div class="overview-subinfo">#{db.statusService.libelle}</div>
                                    </div>

                                </p:commandLink>
                            </div>
                        </p:repeat>

                    </h:panelGroup>
                    
                </div>
            </div>
        </h:form>

        <p:dialog   
            id="DatabaseDialog"
            modal="true"
            width="600"
            resizable="false"
            widgetVar="DatabaseDialog" 
            header="Fiche service">

            <h:form id="DatabaseForm" >
                <h:panelGroup rendered="#{not empty serviceController.selected}" >
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                            <p:outputLabel for="libelle" value="Service"/>
                            <p:inputText type="text" id="libelle" value="#{serviceController.selected.libelle}" />
                        </div>

                        <div class="ui-g-6">
                            <p:outputLabel for="delaisRafraichissement" value="Delai rafraichissement"/>
                            <p:inputText type="int" id="delaisRafraichissement" value="#{serviceController.selected.delaisRafraichissement}" />
                        </div>

                        <div class="ui-g-6">
                            <p:outputLabel for="type" value="Type"/>
                            <p:inputText type="text" id="type" value="#{serviceController.selected.type}" />
                        </div>

                        <div class="ui-g-12">
                            <p:outputLabel for="proprieteJson" value="Json Properties"/>
                            <p:inputTextarea id="proprieteJson" value="#{serviceController.selected.proprieteJson}"
                                             rows="6" cols="33"/>
                        </div>

                    </div>
                </h:panelGroup>

                <div style="text-align: right">
                    <hr/>
                    <p:commandButton
                        value="Enregister"
                        update=":form-1:databases"
                        oncomplete="handleSubmit(args,'DatabaseDialog')"
                        actionListener="#{serviceController.save()}" />
                </div>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>