<style>
    .logosgci{
        background-image: url("src/main/webapp/resources/images/pdf_logo.jpeg");
        height: 60px;
        width: 200px;
        margin-top: -20px
    }
    .d11 {
        float: left;
    }
    .d12 {
        float: right;
    }
</style>
<div>
    <div class="d11">
        <div class="logosgci">
        </div>
    </div>
    <div class="d12">
        <pre>
              SIEGE  SOCIAL ABIDJAN 5 ET 7 AVENUE  J ANOMA
            01 B.P  1355 ABIDJAN 01   RC 2641  TEL 20.20.12.34
        </pre>
    </div>
</div>
<hr/>
<div style="height: 25px">
</div>
<div>
    <center>
        <pre>
            ${content}
        </pre>
    </center>
</div>
