<#include "email-base.html">
<#macro page_title>
  <title>TRANSMISSION DE VOTRE MOT DE PASSE</title>
</#macro>

<#macro page_body>
<h4 style="color:white;">Cher client ${abonnement.client.infoClient}, </h4>
<div style="color:white;">
    <div>Nous vous prions de trouver ci dessous votre mot de passe pour la consultation de vos avis et MT103. </div>
    <div>Mot de passe : <strong>${abonnement.motDePasse}</strong></div>
    <div>Merci de votre confiance en nos services.</div>
    Société Générale cote d'Ivoire
</div>
</#macro>

<@display_page/>