<#include "email-base.html">
<#macro page_title>
  <title>Réception des <#if abonnement.type == 0 >  avis <#else> MT103 </#if></title>
</#macro>

<#macro page_body>
<h4 style="color:white;">Cher client ${abonnement.client.infoClient}, </h4>
<div style="color:white;">
    <div>Nous vous prions de trouver joint au mail votre <#if abonnement.type == 0 >  avis <#else> MT103 </#if>. </div>
    <div>Merci de votre confiance en nos services.</div>
    Société Générale cote d'Ivoire
</div>
</#macro>

<@display_page/>