<#include "base.html">
<#macro page_title>
  <title>NOTIFICATION</title>
</#macro>

<#macro page_body>
  <h1>${titre}</h1>
  <p>
      ${projet}
  </p>
  <p>
      ${message}
  </p>
</#macro>

<@display_page/>