/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;

  background: #009bff;
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: -o-linear-gradient(left, #0072ff, #00c6ff);
  background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);
}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  padding: 18px 100px 85px 100px;
}
.contact1-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}