<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui" 
    template="/WEB-INF/content-template.xhtml" >
    <ui:define name="viewname" >
        <li>
            / Gestion des utilisateurs
        </li>
    </ui:define>
    <ui:define name="page-content" >
        <h:form id="ActeurListForm" >
            <div class="ui-g" >
                <div class="ui-fluid ui-lg-6 ui-md-6 ui-g-12 m-0">
                    <p:inputText placeholder="Recherche"
                                 value="#{acteurController.field.filtre}">
                        <p:ajax update="ActeurList"
                                listener="#{acteurController.lazyItemList.reset()}" />
                    </p:inputText>
                </div>
            </div>
            
            <p:dataTable 
                id="ActeurList"
                lazy="true"
                var="acteur" 
                value="#{acteurController.lazyItemList}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50">
                <f:facet name="paginatorTopLeft" >
                    <p:commandLink 
                        rendered="#{mainController.currentActeur.can('role_action_acteur_ajouter')}"
                        update="ActeurForm"
                        actionListener="#{acteurController.prepareCreate()}"
                        oncomplete="PF('ActeurDialog').show();" >
                        <span class="fa fa-plus-circle" />
                        Ajouter un utilisateur
                    </p:commandLink>
                </f:facet>

                <p:column width="30" >
                    <p:rowToggler />
                </p:column>

                <p:column headerText="Actif"  width="70" >
                    <span class=" p-5 bdrs-10em #{acteur.enabled?'bgc-green-100 c-green-600':'bgc-red-100 c-red-600'}" >
                        #{acteur.enabled? 'Oui' : 'Non'}
                    </span>
                </p:column>

                <p:column headerText="Login" width="150" >#{acteur.login}</p:column>

                <p:column headerText="Non réel" width="350" >
                    <p:commandLink
                        rendered="#{mainController.currentActeur.can('role_action_acteur_ajouter')}"
                        actionListener="#{acteurController.select(acteur)}"
                        update="ActeurForm"
                        oncomplete="PF('ActeurDialog').show();" >
                        <strong>#{acteur.nom}</strong>
                        #{acteur.prenoms}
                    </p:commandLink>
                </p:column>

                <p:rowExpansion>
                    <div class="mB-10">
                        <p:commandLink
                            rendered="#{mainController.currentActeur.can('role_action_acteur_role_editer')}"
                            style="margin-right: 10px;"
                            actionListener="#{acteurController.select(acteur)}"
                            update=":RoleActeurForm"
                            oncomplete="PF('RoleActeurDialog').show();" >
                            Gerer les roles
                        </p:commandLink>
                        <p:commandLink 
                            rendered="#{mainController.currentActeur.can('role_action_acteur_ajouter')}"
                            style="margin-right: 10px;"
                            value="Renvoyer mail activation" 
                            disabled="#{acteur.enabled}"
                            actionListener="#{acteurController.transmettreEmailInscription(acteur)}"  />
                        <p:commandLink 
                            rendered="#{mainController.currentActeur.can('role_action_acteur_ajouter')}"
                            style="margin-right: 10px;"
                            value="Reinitiatliser le mot de passe" 
                            disabled="#{!acteur.enabled}"
                            actionListener="#{mainController._envoyerEmailChangementMdp(acteur.email)}"  />
                        <p:commandLink 
                            rendered="#{mainController.currentActeur.can('role_action_acteur_ajouter')}"
                            style="margin-right: 10px;"
                            value="Generer et transmettre lien de connexion" 
                            actionListener="#{acteurController.genererEtTransmettreLienDeConnexion(acteur)}"  />
                    </div>
                    <h6>Liste des roles attribués</h6>
                    <ul>
                        <ui:repeat value="#{acteur.roles}" var="role" >
                            <li>#{bundle[role.label]}</li>
                        </ui:repeat>
                    </ul>
                </p:rowExpansion>
            </p:dataTable>


        </h:form>

        <!-- Fornulaire de mise a jour -->
        <p:dialog 
            id="ActeurDlg" 
            appendTo="@(body)"
            widgetVar="ActeurDialog"
            modal="true"
            width="600"
            header="Fiche Acteur"
            resizable="true" >
            <h:form id="ActeurForm" >
                <h:panelGroup rendered="#{not empty acteurController.selected}" >
                    <div class="ui-g ui-fluid"  >
                        <div class="ui-g-12" >
                            <p:outputLabel value="Login" />
                            <p:inputText required="true" value="#{acteurController.selected.login}" />
                        </div>
                        <div class="ui-g-12 ui-md-4" >
                            <p:outputLabel value="Nom" />
                            <p:inputText required="true" value="#{acteurController.selected.nom}" />
                        </div>
                        <div class="ui-g-12 ui-md-8" >
                            <p:outputLabel value="Prénoms" />
                            <p:inputText required="true" value="#{acteurController.selected.prenoms}" />
                        </div>
                        <div class="ui-g-12 ui-md-8" >
                            <p:outputLabel value="Choix des roles" />
                            <p:selectManyMenu filter="true" filterMatchMode="contains" showCheckbox="true"
                                              converter="RoleConverter"
                                              value="#{acteurController.selected.roles}" >
                                <f:selectItems var="role" value="#{roleController.itemList}" itemLabel="#{bundle[role.label]}" />
                            </p:selectManyMenu>
                        </div>
                    </div>
                    <p:commandLink
                        update="@form :ActeurListForm"
                        actionListener="#{acteurController.save}"
                        oncomplete="handleSubmit(args,'ActeurDialog');"
                        styleClass="btn cur-p btn-outline-primary">
                        Enregistrer
                    </p:commandLink>
                </h:panelGroup>
            </h:form>
        </p:dialog>

        <p:dialog 
            id="RoleActeurDlg" 
            appendTo="@(body)"
            widgetVar="RoleActeurDialog"
            modal="true"
            width="600"
            header="Fiche RoleActeur"
            resizable="true" >
            <h:form id="RoleActeurForm" >
                <h:panelGroup rendered="#{not empty acteurController.selected}" >
                    <p:selectManyMenu 
                        filter="true" filterMatchMode="contains"
                        showCheckbox="true"
                        converter="RoleConverter"
                        value="#{acteurController.selected.roles}" >
                        <f:selectItems var="role" 
                                       value="#{roleController.itemList}"
                                       itemLabel="#{bundle[role.label]}"
                                       itemValue="#{role}" />
                    </p:selectManyMenu>
                    <div class="p-10 bdT mT-10" >
                        <p:commandLink
                            update="@form :ActeurListForm"
                            actionListener="#{acteurController.save}"
                            oncomplete="handleSubmit(args,'RoleActeurDialog');"
                            styleClass="btn cur-p btn-outline-primary">
                            Enregistrer
                        </p:commandLink>
                    </div>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>