<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui" 
    template="/WEB-INF/content-template.xhtml" >
    <ui:define name="viewname" >
        <li>
            / Profil utilisateurs
        </li>
    </ui:define>
    <ui:define name="page-content" >
        <div class="ui-g" >
            <div class="ui-md-3" />
            <div class="ui-g-12 ui-md-6 card" >
                <div class="right-align bgc-blue-500 p-10"  >
                    <div style="height: 200px;" >

                    </div>
                    <div class="c-white" style="font-size: 21px;text-transform: uppercase;" >
                        #{mainController.currentActeur.nom} #{mainController.currentActeur.prenoms}
                    </div>
                    <div class="c-blue-900 italic" >
                        #{mainController.currentActeur.login}
                    </div>
                </div>
                <div class="p-10 fw-600 center-align">
                    ROLES ET HABILITATION
                </div>
                <div class="" >
                    <ui:repeat var="role" value="#{mainController.currentActeur.roles}" >
                        <div class="bdB p-10" >
                            <strong>#{bundle[role.label]}</strong>
                            <div class="right-align c-grey-500 italic">#{role.label}</div>
                        </div>
                    </ui:repeat>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>