.menu{
    padding-top: 10px;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0px;
}
.menu ul>li{
    padding: 0px;
    position: relative;
    width: 200px;
    overflow: hidden;
}
.menu ul li a{
    padding: 10px;  
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}
.menu ul li>a:hover{
    background-color: #ca2d26;
    color: white;
    font-weight: bold;
}
.menu ul li:hover{
    background-color: #ca2d26;
}
.menu ul ul{
   transition: all 0.3s;
   display: none;
   position: relative;
   background-color: black;
   margin: 0px;
   padding: 0px;
}
.menu ul>li:hover>ul{
    display: block;
}

.sidebar.toggled .menu a{
    font-size: 8px;
}
.sidebar.toggled .menu li{
    text-align: center;
    width: 90px;
}
.sidebar.toggled .menu li a i{
    display: block;
}