<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"  >
    <p:dialog id="${modelClass.simpleName}Dlg" 
              modal="true"
              width="600"
              resizable="false"
              widgetVar="${modelClass.simpleName}Dialog" 
              header="Fiche ${modelClass.simpleName}"  >
        <h:form id="${modelClass.simpleName}Form" >
            <h:panelGroup rendered="${r"#{"}not empty ${modelClass.simpleName?uncap_first}Controller.selected${r"}"}" >
                <div class="ui-g ui-fluid" >
                    <#list fieldList as field>
                    <div class="ui-g-12" >
                        <p:outputLabel for="${field.name}" value="${field.name}"/>
                        <#if field.type.simpleName == 'Date'>
                        <p:calendar id="${field.name}" value="${r"#{"}${modelClass.simpleName?uncap_first}Controller.selected.${field.name}${r"}"}" pattern="dd/MM/yyyy" />
                        <#elseif 
                                field.type.simpleName == 'int' || field.type.simpleName == 'Integer' || 
                                field.type.simpleName == 'double' || field.type.simpleName == 'Double' || 
                                field.type.simpleName == 'byte' || field.type.simpleName == 'Byte' || 
                                field.type.simpleName == 'short' || field.type.simpleName == 'Short'|| 
                                field.type.simpleName == 'long' || field.type.simpleName == 'Long' ||
                                field.type.simpleName == 'float' || field.type.simpleName == 'Float' >
                        <p:inputNumber id="${field.name}" value="${r"#{"}${modelClass.simpleName?uncap_first}Controller.selected.${field.name}${r"}"}" />
                        <#elseif field.type.simpleName == 'boolean' || field.type.simpleName == 'Boolean' >
                        <p:selectBooleanCheckbox  id="${field.name}" value="${r"#{"}${modelClass.simpleName?uncap_first}Controller.selected.${field.name}${r"}"}" />
                        <#elseif field.type.simpleName == 'String'>
                        <p:inputText id="${field.name}" value="${r"#{"}${modelClass.simpleName?uncap_first}Controller.selected.${field.name}${r"}"}" />
                        <#else>
                        <p:selectOneMenu  id="${field.name}"  filter="true" filterMatchMode="contains" value="${r"#{"}${modelClass.simpleName?uncap_first}Controller.selected.${field.name}${r"}"}" >
                            <f:selectItems var="${field.name}" 
                                           value="${r"#{"}${field.name?uncap_first}Controller.itemList${r"}"}"
                                           itemValue="${r"#{"}${field.name}${r"}"}"
                                           itemLabel="${r"#{"}${field.name}.libelle${r"}"}"/>
                        </p:selectOneMenu>
                        </#if>
                    </div>
                    </#list>
                </div>
                <div style="text-align: right" >
                    <hr/>
                    <p:commandButton value="Enregister" 
                                     update="@form :${modelClass.simpleName}ListForm"
                                     oncomplete="handleSubmit(args,'${modelClass.simpleName}Dialog')"
                                     actionListener="${r"#{"}${modelClass.simpleName?uncap_first}Controller.save()${r"}"}" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
</ui:composition>