<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/param-template.xhtml"  >
    <ui:define name="param-content" >
       <h:form id="${modelClass.simpleName}ListForm" >
            <p:dataTable 
                scrollable="true"
                lazy="true"
                rowKey="${r"#{"}${modelClass.simpleName?uncap_first}.id${r"}"}"
                selectionMode="single"
                selection="${r"#{"}${modelClass.simpleName?uncap_first}Controller.selected${r"}"}"
                var="${modelClass.simpleName?uncap_first}"
                value="${r"#{"}${modelClass.simpleName?uncap_first}Controller.lazyItemList${r"}"}"
                rows="10"
                paginator="true"
                rowsPerPageTemplate="10,20,30,40,50" >
                <f:facet name="paginatorTopLeft" >
                    <div>
                        <p:commandButton
                            id="AddBtn"
                            icon="fa fa-plus"
                            update=":${modelClass.simpleName}Form"
                            oncomplete="PF('${modelClass.simpleName}Dialog').show();"
                            actionListener="${r"#{"}${modelClass.simpleName?uncap_first}Controller.prepareCreate()${r"}"}"
                            value="Ajouter" />

                        <p:commandButton 
                            id="EditBtn"
                            icon="fa fa-edit"
                            disabled="${r"#{"}empty ${modelClass.simpleName?uncap_first}Controller.selected${r"}"}"
                            update=":${modelClass.simpleName}Form"
                            oncomplete="PF('${modelClass.simpleName}Dialog').show();"
                            actionListener="${r"#{"}${modelClass.simpleName?uncap_first}Controller.prepareUpdate()${r"}"}"
                            value="Modifier" />

                        <p:commandButton 
                            id="DeleteBtn"
                            icon="fa fa-trash"
                            disabled="${r"#{"}empty ${modelClass.simpleName?uncap_first}Controller.selected${r"}"}"
                            update="@form"
                            actionListener="${r"#{"}${modelClass.simpleName?uncap_first}Controller.remove()${r"}"}"
                            value="Supprimer" >
                            <p:confirm message="Veuillez confirmer la suppression" />
                        </p:commandButton>
                    </div>
                </f:facet>
                <p:ajax event="rowSelect" update="EditBtn, DeleteBtn" />
                <p:ajax event="rowUnselect" update="EditBtn, DeleteBtn" />
                <#list fieldList as field>
                <p:column headerText="${field.name}" width="150" >
                    <#if field.type.simpleName == 'Date'>
                    <h:outputText value="${r"#{"}${modelClass.simpleName?uncap_first}.${field.name}${r"}"}" >
                        <f:convertDateTime pattern="DD/MM/yyyy" />
                    </h:outputText>
                    <#elseif 
                            field.type.simpleName == 'int' || field.type.simpleName == 'Integer' || 
                            field.type.simpleName == 'double' || field.type.simpleName == 'Double' || 
                            field.type.simpleName == 'byte' || field.type.simpleName == 'Byte' || 
                            field.type.simpleName == 'short' || field.type.simpleName == 'Short'|| 
                            field.type.simpleName == 'long' || field.type.simpleName == 'Long' ||
                            field.type.simpleName == 'float' || field.type.simpleName == 'Float' >
                    <h:outputText value="${r"#{"}${modelClass.simpleName?uncap_first}.${field.name}${r"}"}" >
                        <f:convertNumber/>
                    </h:outputText>
                    <#elseif field.type.simpleName == 'boolean' || field.type.simpleName == 'Boolean' >
                    <p:selectBooleanCheckbox disabled="true" value="${r"#{"}${modelClass.simpleName?uncap_first}.${field.name}${r"}"}" />
                    <#elseif field.type.simpleName == 'String' >
                        <h:outputText value="${r"#{"}${modelClass.simpleName?uncap_first}.${field.name}${r"}"}" />
                    <#else>
                    <h:outputText value="${r"#{"}${modelClass.simpleName?uncap_first}.${field.name}.libelle${r"}"}" />
                    </#if>
                </p:column>
                </#list>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>