<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/template2.xhtml" >
    <ui:define name="main-content" >
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Erreur</a>
            </li>
            <li class="breadcrumb-item active">#{code} Error</li>
        </ol>
        <div style="text-align: center; width: 100%;min-height: 400px;background-color: white" >
            <div>
                #{app_name}
            </div>
            <!-- Page Content -->
            <h1 class="display-1" style="font-weight: bold;">#{code}</h1>
            <p class="lead">#{message}</p>
        </div>
    </ui:define>
</ui:composition>