<#include "base.html">
<#macro page_title>
  <title>Modification du mot de passe </title>
</#macro>

<#macro page_body>
  <h1>Bonjour ${acteur.nom}</h1>
  <p>
      Une demande de reinitialisation de  votre mot de passe à été éffectuée.<br/>
      <strong>Si cous n'etes pas l'auteur de cette action, veuillez tout simplement ignoré ce émail</strong>
  </p>
  <p>
     Si vous en etre l'auteur, veuillez cliquer sur le lien suivant afin de reinitialiser votre mot de passe:
     <a href="${httpUrl}/creer_mdp.xhtml?email=${acteur.email}&token=${acteur.token}" >
          Reinitialiser mon mot de passe
      </a>
  </p>
</#macro>

<@display_page/>