<#include "base.html">

<#macro page_body>
    <h3>Bonjour ${acteur.libelle}</h3>
      <div>Ci dessous votre lien de connexion, il est valable pour une seule utilisation</div>
    <div style="text-align: center;" >
        <a href="${httpUrl}/reponse/connexion.xhtml?token=${acteur.uuid}&email=${acteur.email}" >
            Lien de connexion
        </a>
    </div>
</#macro>

<@display_page/>