<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:jsf="http://java.sun.com/jsf/html"
    template="/WEB-INF/babylon/template2.xhtml" >
    <ui:param name="title" value="#{bundle.app_name} - CONNEXION" />
    <ui:param name="body_class" value="login-body" />
    <ui:param name="panel_class" value="login-panel" />
    <ui:param name="panel_content" value="login-content" />
    <ui:define name="content" >
        <h:form>
            <f:metadata>
                <f:event 
                    type="preRenderView" 
                    listener="#{mainController.loadActeur(param.email,param.token)}"/>
            </f:metadata>
            <h:panelGroup rendered="#{empty mainController.field.acteur}" >
                <script>
                    window.location.href='/login.xhtml';
                </script>
            </h:panelGroup>
            <h:panelGroup rendered="#{not empty mainController.field.acteur}" >
                <h1><span>CONNEXION A </span> #{bundle.app_name}</h1>
                <p>Modifier votre mot de passe</p>

                <div class="login-input-wrapper">
                    <h:outputLabel value="Nouveau mot de passe" for="@next" />
                    <p:password id="mdp1" match="mdp2" required="true" value="#{mainController.field.mdp}" />
                </div>
                
                <div class="login-input-wrapper">
                    <h:outputLabel value="Confirmer nouveau mot de passe" for="@next" />
                    <p:password id="mdp2" required="true" value="#{mainController.field.mdp}" />
                </div>
                 <p:commandButton 
                            styleClass="btn btn-primary"
                            value="Valider"
                            action="#{mainController.creerMdp}"/>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>