<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:jsf="http://java.sun.com/jsf/html"
    template="/WEB-INF/babylon/template2.xhtml" >
    <ui:param name="title" value="#{bundle.app_name} - Not found" />
    <ui:param name="body_class" value="exception-body error" />
    <ui:param name="panel_class" value="exception-panel" />
    <ui:param name="panel_content" value="exception-content" />
    <ui:define name="content" >
        <h1><span class="exception-name">ERROR</span> OCCURRED</h1>
        <p>Something went wrong.</p>
        <p:button value="Retour au Dashboard" href="/admin/index.xhtml"/>
    </ui:define>
</ui:composition>