<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:jsf="http://java.sun.com/jsf/html"
	template="/WEB-INF/babylon/template2.xhtml">
	<ui:param name="title" value="#{bundle.app_name} - CONNEXION" />
	<ui:param name="body_class" value="login-body" />
	<ui:param name="panel_class" value="login-panel" />
	<ui:param name="panel_content" value="login-content" />
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{mainController.onPageLoad()}" />
		</f:metadata>
		<form action="/login" method="POST">
			
			<h1>#{bundle.app_name}</h1>
			<p>Bienvenue, renseignez le formulaire pour vous connecter.</p>
			
			<div class="login-input-wrapper">
				<input id="username" name="username" type="text"
					class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
					placeholder="Login" role="textbox" aria-disabled="false"
					ria-readonly="false" /> <i class="fa fa-user" />
			</div>
			
			<div class="login-input-wrapper">
				<input id="password" name="password" type="password"
					class="ui-inputfield ui-password ui-widget ui-state-default ui-corner-all ui-state-filled"
					placeholder="Mot de passe" role="textbox" aria-disabled="false"
					aria-readonly="false" /> <i class="fa fa-lock" />
			</div>
			
			<button type="submit"
				class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
				role="button" aria-disabled="false">
				<div class="ui-button-text ui-c">Connexion</div>
			</button>
			
			<p:link href="/mdp_oublie.xhtml"
				class="ui-button ui-widget ui-state-default secondary-button ui-corner-all ui-button-text-only">
				<div class="ui-button-text ui-c">Mot de passe oublié</div>
			</p:link>
		</form>
	</ui:define>
</ui:composition>