<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:jsf="http://java.sun.com/jsf/html"
    template="/WEB-INF/babylon/template2.xhtml" >
    <ui:param name="title" value="#{bundle.app_name} - CONNEXION" />
    <ui:param name="body_class" value="login-body" />
    <ui:param name="panel_class" value="login-panel" />
    <ui:param name="panel_content" value="login-content" />
    <ui:define name="content" >
        <h:form>
            <h1><span>Mot de passe oublié ? </span></h1>
                <p>Saisir votre email pour contnner</p>
               <div class="login-input-wrapper">
                    <p:inputText placeholder="Email" id="mdp" required="true" value="#{mainController.field.email}" />
                </div>
                <p:commandButton 
                    styleClass="btn btn-primary"
                    value="Valider"
                    update="@form"
                    actionListener="#{mainController.envoyerEmailChangementMdp()}"/>
                <p:link href="/login.xhtml" 
                    class="ui-button ui-widget ui-state-default secondary-button ui-corner-all ui-button-text-only" 
                    >
                <div class="ui-button-text ui-c">Connexion</div>
            </p:link>
        </h:form>
    </ui:define>
</ui:composition>