<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:menuitem value="Dashboard" icon="fa fa-fw fa-dashboard" update="mainContent" action="#{mainController.set('page','Dashboard')}" />
    <p:menuitem value="Moniteur" icon="fa fa-fw fa-dashboard" 
                update="mainContent" 
                action="#{mainController.set('page','Gestion des moniteurs')}" />

    
</ui:composition>