<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <li>
        <p:commandLink  update="page" 
                        actionListener="#{mainController.set('page','profil')}"  >
            <i class="fa fa-fw fa-user"></i>
            <span>Profile</span>
        </p:commandLink>
    </li>
    <li>
        <p:commandLink rendered="#{mainController.currentActeur.can('role_admin')}" 
                       update="page" 
                       actionListener="#{mainController.set('page','Parametres')}"  >
            <i class="fa fa-fw fa-cog"></i>
            <span>Parametres</span>
        </p:commandLink>
    </li>
    <li>
        <p:commandLink
            oncomplete="window.location='/logout';"
            actionListener="#{mainController.logout('/logout')}">
            <i class="fa fa-fw fa-sign-out"></i>
            <span>Deconnexion</span>
        </p:commandLink>
    </li>
</ui:composition>