<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:pb="http://primefaces.org/babylon">
    <pb:menu widgetVar="babylonMenuWidget">
        <ui:include src="./_menu.xhtml" />
    </pb:menu>
</ui:composition>