<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <div class="layout-menu-container">
        <div class="layout-menu-logo">
            <h:form id="logoform">
                <h:outputLink  id="logolink"  value="/index.xhtml">
                    <p:graphicImage rendered="false" style="height: 50px;"
                        name="images/#{guestPreferences.darkLogo ? 'logo-black.png' : 'logo-white.png'}" 
                        library="babylon-layout" />
                    <span class="logo-text">
                        #{bundle.app_name}
                    </span>
                </h:outputLink >
            </h:form>
        </div>
        
        <div class="nano layout-menu-wrapper">
            <div class="nano-content menu-scroll-content">
                <h:form id="menuform">
                    <ui:fragment rendered="#{guestPreferences.profileMode == 'inline' ? true : false}">
                        <div class="layout-profile">
                            <a class="layout-profile-button" href="#">
                                <p:graphicImage name="images/avatar.png" library="babylon-layout" />
                                <div class="layout-profile-userinfo">
                                    <span class="layout-profile-name">Arlene Welch</span>
                                    <span class="layout-profile-role">Design Ops</span>
                                </div>
                                <i class="layout-profile-icon fa fa-angle-down"></i>
                            </a>
                            <ul class="layout-profile-menu">
                                <ui:include src="./_user_menu.xhtml" />
                            </ul>
                        </div>
                    </ui:fragment>
                    <ui:include src="#{guestPreferences.groupedMenu ? 'groupedMenu.xhtml' : 'ungroupedMenu.xhtml'}" />
                </h:form>
            </div>
        </div>
    </div>
</ui:composition>