<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <div class="layout-topbar">
        <h:form>
            <h:outputLink  value="/admin/index.xhtml" styleClass="layout-topbar-logo">
                <p:graphicImage rendered="false" style="height: 50px;"
                        name="images/#{guestPreferences.darkLogo ? 'logo-black.png' : 'logo-white.png'}" 
                        library="babylon-layout" />
                #{bundle.appp_name}
            </h:outputLink>
        </h:form>

        <a class="layout-menu-button" href="#">
            <i class="fa fa-bars" />
        </a>
        <a id="topbar-menu-button" href="#">
            <i class="fa fa-ellipsis-v"></i>
        </a>
            <ul class="topbar-menu fadeInDown">
                <ui:fragment rendered="#{guestPreferences.profileMode == 'popup' ? true : false}">
                    <li class="user-profile">
                        <a href="#">
                            <p:graphicImage name="images/avatar.png" library="babylon-layout" />
                            <span class="topbar-item-name">Arlene Welch</span>
                        </a>
                        <ul>
                            <h:form>
                                <ui:include src="./_user_menu.xhtml" />
                            </h:form>
                        </ul>
                    </li>
                </ui:fragment>
            </ul>
    </div>
</ui:composition>