<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:pb="http://primefaces.org/babylon">


    <pb:menu widgetVar="babylonMenuWidget">
        <p:submenu id="omx_homepage" label="Main Menu" icon="fa fa-fw fa-home">
            <ui:include src="./_menu.xhtml" />
        </p:submenu>
    </pb:menu>
</ui:composition>