<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <h:head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/ -->
    <h:outputStylesheet library="template" name="vendor/bootstrap/css/bootstrap.min.css"/>
    <h:outputStylesheet library="template" name="css/sb-admin.css"/>
    <h:outputStylesheet library="template" name="css/custom-theme.css"/>
    <title>#{app_name}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        a{
            color: black;
        }
    </style>
  </h:head>
    <h:body style="background-color: #FFFFFF;" >
        <div style="padding: 5px;" >
            <ui:insert name="main-content" />
        </div>
  </h:body>
</html>


