 <ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="layout-main">       
        <div class="route-bar">
            <h:form style="display: inline-block;">
                <div class="route-bar-breadcrumb">
                    <li>
                        <p:commandLink 
                            actionListener="#{mainController.back()}" 
                            rendered="#{mainController.canBack()}"
                            update="mainContent" >
                            <span class="bg-orange-600 fw-600 bdrs-4 c-grey-50 p-3 pL-5 pR-5" >
                                    <span class="c-white fa fa-arrow-left" />
                                    Retour
                            </span>
                        </p:commandLink>
                    </li>
                    <li>
                        <p:commandLink 
                            actionListener="#{mainController.set('page','Mes taches')}" 
                            update="mainContent" >
                            Accueil
                        </p:commandLink>
                    </li>
                    <ui:insert name="viewname" />
                </div>
            </h:form>
            <div class="route-bar-right">
               
            </div>
        </div>
        <div class="layout-content bg-white m-10" style="min-height:300px">
            <ui:insert name="page-content"></ui:insert>
        </div>
    </div>
</ui:composition>