<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/content-template.xhtml" >
    <ui:define name="viewname" >
        <li>
            / Parametres
        </li>
    </ui:define>
    <ui:define name="page-content" >
        <f:metadata>
        </f:metadata>
        <style>
            .command{
                text-align: right;
            }
            .command a{
                text-align: center;
                display: inline-block;
                min-width: 80px;
                margin: 5px;
                background-color: lightgray;
                padding: 5px;
            }
            .command a span{
                display: inline-block;
            }
            .titre{
                float: left;
                text-transform: uppercase;
                margin-right: 50px;
                font-size: 16px;
            }
        </style>
        <h:form>
            <p:menubar>
                <p:menuitem value="Gestion des periodes" disabled="#{mainController._equal('page', 'Gestion des periodes')}"
                            update="mainContent"
                            rendered="#{mainController.currentActeur.can('role_acces_param_periode')}"
                            actionListener="#{mainController.set('page', 'Gestion des periodes')}" />
                
                <p:menuitem value="Générale" disabled="#{mainController._equal('page', 'Parametres')}"
                            update="mainContent"
                            rendered="#{mainController.currentActeur.can('role_acces_param_general')}"
                            actionListener="#{mainController.set('page', 'Parametres')}" />
                
                <p:menuitem value="Maintenance" disabled="#{mainController._equal('page', 'Maintenance')}"
                            update="mainContent"
                            rendered="#{mainController.currentActeur.hasRole('role_acces_param_maintenance')}"
                            actionListener="#{mainController.set('page', 'Maintenance')}" />
            </p:menubar>
        </h:form>
        <h:panelGroup style="padding-top: 20px;display: block;" >
            <ui:insert name="param-content"></ui:insert>
        </h:panelGroup>
    </ui:define>
</ui:composition>