<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>#{app_name}</title>
        <h:outputStylesheet library="template1" name="vendor/bootstrap/css/bootstrap.min.css" />
        <h:outputStylesheet library="template1" name="css/sb-admin.css" />
        <h:outputStylesheet library="template1" name="css/custom-theme.css"/>
        <style>
            html {
                font-size: 15px;
            }
            body{
                background-image: url('/resources/images/bg.jpg')
            }
        </style>
    </h:head>
    <h:body class="bg-dark">
        <div class="container">
            <ui:insert name="main-content" />
        </div>
        <h:outputScript  library="template1" name="vendor/jquery/jquery.min.js"/>
        <h:outputScript  library="template1" name="vendor/bootstrap/js/bootstrap.bundle.min.js"/>
        <h:outputScript  library="template1" name="vendor/jquery-easing/jquery.easing.min.js"/>
    </h:body>
</html>
