<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title><ui:insert name="title">#{bundle.app_name}</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="babylon-layout" />
        <h:outputScript name="js/layout.js" library="babylon-layout" />
        <title>#{app_name}</title>
        <style>
            body{
                padding: 15px;
                background: #009bff;
                background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
                background: -o-linear-gradient(left, #0072ff, #00c6ff);
                background: -moz-linear-gradient(left, #0072ff, #00c6ff);
                background: linear-gradient(left, #0072ff, #00c6ff);
            }
            .content {
                height: 100%;   
                width: 100%;
                min-height: 100%;
                padding: 15px;
                width: 100%;
                background: #fff;
                border-radius: 10px;
                padding: 18px 100px 85px 100px;
              }
        </style>
      </h:head>
    <h:body>
    <p:growl id="growll" >
        <p:autoUpdate/>
    </p:growl>
    <div class="content">
        <ui:insert name="content" />
    </div>
        <h:form>
        <p:confirmDialog global="true" showEffect="fade" 
                         hideEffect="fade"
                                header="veuillez confirmer l'action" 
                         style="white-space: pre;" >
            <p:commandButton value="Non" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            <p:commandButton value="Oui" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        </p:confirmDialog>
    </h:form>
      <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage library="images" name="loader.gif" />
        </p:dialog>
        <p:dialog widgetVar="StatusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage library="images" name="loader.gif" />
        </p:dialog>
    <h:outputStylesheet name="material-colors.min.css" library="css" />
    <h:outputScript  library="js" name="jsfcrud.js"/>
    <h:outputScript library="template3" name="vendor.js" />
    <h:outputScript library="template3" name="bundle.js" />
  </h:body>
</html>
