<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
  <h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>#{bundle.app_name}</title>
    <h:outputStylesheet library="template1" name="vendor/bootstrap/css/bootstrap.min.css"/>
    <style>
        html {
            font-size: 12px;
        }
        body{
            background-image: url('/resources/images/bg.jpg')
        }
        .navbar{
            margin-bottom: 40px;
            border-radius: 0px;
        }
        .navbar-nav{
            margin:0px;
        }
    </style>
    
    <!-- Custom styles for this template-->
    <h:outputStylesheet library="template1" name="css/sb-admin.css"/>
    <h:outputStylesheet library="template1" name="css/custom-theme.css"/>
    <h:outputStylesheet library="template1" name="css/menu.css"/>
     <ui:insert name="head_script" />
  </h:head>

  <h:body id="page-top">
    <p:growl autoUpdate="true"/>
    <h:form>
        <p:confirmDialog global="true" showEffect="fade" 
                         hideEffect="fade"
                                header="veuillez confirmer l'action" 
                         style="white-space: pre;" >
            <p:commandButton value="Non" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            <p:commandButton value="Oui" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        </p:confirmDialog>
    </h:form>
    
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <h:graphicImage library="images" height="40" name="logo.png" />
        <a class="navbar-brand mr-1" href="/admin/index.xhtml" 
           style="display: inline-block;width: 90px;" >
      </a>
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fa fa-bars fa-2x"></i>
      </button>
        <h:form>
            <p:commandLink
                style="margin-right: 10px;float: left; border-radius: 50%;display: inline-block;width: 20px;height:20px; background-color: black;color: white;text-align: center;"
                value="N" 
                onclick="PF('NotificationBar').show()"/>
        </h:form>
        <div style="border-left: 1px solid white;padding-left:10px;" >
            <div style="text-transform: uppercase;font-weight: bold;font-size: 16px;  " >
                #{page_title}
            </div>
            <em style="font-size: 10px;" >
                #{page_description}
            </em>
            <h:form rendered="#{mainController.currentActeur!=null}" style="position: absolute;right: 5px;top: 25px;" >
                <p:commandLink 
                    styleClass="fa fa-home"
                    value="#{mainController.currentActeur.email}"
                    update=":ChangerMdpForm"
                    oncomplete="PF('ChangerMdpDialog').show();" />
                |
                <p:commandLink 
                    action="#{mainController.logout('/login.xhtml')}"
                    value="Deconnexion"
                    style="color: white;" />        
            </h:form>
        </div>
    </nav>
    <div id="wrapper">
      <!-- Sidebar -->
      <div class="sidebar">
          <div style="text-align: center;margin-top:0px;" >
              <p:graphicImage
                  styleClass="user-photo"
                library="images"
                name="user.png"
                style="background-color: lightgray;" 
                width="150"  />
          </div>
          <hr/>
          <div class="menu" style="border-top: 1px solid white;" >
              <ul>
                <li class="menu-item">
                  <a href="/index.xhtml">
                    <i class="fa fa-dashboard"></i>
                    <span>Index</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/admin/index.xhtml">
                    <i class="fa fa-dashboard"></i>
                    <span>Admin</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/admin/parametre.xhtml">
                    <i class="fa fa-setting"></i>
                    <span>Parametre</span>
                  </a>
                </li>
              </ul>
        </div>
    </div>
    
    <div id="content-wrapper">
        <div class="container-fluid">
            <br/>
            <ui:insert name="main-content" />
        </div>
        <p:notificationBar position="top" 
                           effect="slide" 
                           styleClass="top" 
                           widgetVar="NotificationBar">
            <h:form id="NotificationForm" >
                <p:commandLink
                    style="margin-right: 10px;float: left; border-radius: 50%;display: inline-block;width: 20px;height:20px; background-color: red;color: black;text-align: center;"
                      value="X" 
                      onclick="PF('NotificationBar').hide()"/>
                <h:panelGroup>
                  Acceder au rapport de l'action via le lien suivant : 
                  <h:outputLink value="#{reportController.field.action_report_link}" >
                      Telecharger le rapport
                  </h:outputLink>
                </h:panelGroup>
            </h:form>
        </p:notificationBar>
        
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Ebenyx technologies 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <h:outputScript  library="js" name="jsfcrud.js"/>
    <h:outputScript  library="template1" name="vendor/bootstrap/js/bootstrap.bundle.min.js"/>
    <h:outputScript  library="template1" name="js/sb-admin.min.js"/>
    <ui:insert name="check-context-template" >
        <h:form>
            
        </h:form>
    </ui:insert>
    <ui:insert name="before-end-of-body" />
    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
        <p:graphicImage library="images" name="loader.gif" />
    </p:dialog>
    <p:dialog id="ChangerMdpDlg" 
              widgetVar="ChangerMdpDialog" 
              resizable="false" responsive="true"
              closeOnEscape="true" 
              modal="true"
              header="Fiche Changement de mot de passe"
              width="400" >
        <h:form id="ChangerMdpForm" >
            <h:panelGroup class="display" rendered="#{not empty mainController.currentActeur}" >
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12" >
                        <p:outputLabel for="@next" value="Ancien mot de passe" />
                        <p:password id="mdp" required="true" value="#{mainController.field.mdp0}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="@next" value="Nouveau mot de passe" />
                        <p:password id="mdp1" match="mdp2" required="true" value="#{mainController.field.mdp1}" />
                    </div>
                    <div class="ui-g-12" >
                        <p:outputLabel for="@next" value="Confirmer nouveau mot de passe" />
                        <p:password id="mdp2" required="true" value="#{mainController.field.mdp1}" />
                    </div>
                </div>
                <div style="text-align: right;" >
                    <hr/>
                    <p:commandButton 
                        styleClass="btn btn-primary"
                        actionListener="#{mainController.changerMdp}"
                        update="@form"
                        oncomplete="handleSubmit(args,'ChangerMdpDialog')"
                        value="Enregistrer" />
                </div>
            </h:panelGroup>
        </h:form>
    </p:dialog>
  </h:body>
</html>
