<!DOCTYPE html>
<html  lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Dashboard</title>
    <style>
        .italic{
            font-style: italic;
        }
        .right-align{
          text-align: right;  
        }
        .center-align{
          text-align: center;  
        }
        .left-align{
          text-align: left;  
        }
        .dialog-bottom{
            border-top: 1px solid lightgray;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        body .ui-radiobutton span.ui-radiobutton-icon {
            margin-left: -6px !important;
        }
        .ui-datagrid-content,.ui-paginator{
            background: none;
            border:none;
        }
        .ui-datagrid .ui-paginator{
            text-align: right;
        }
        .fs-8{
            font-size: 8px;
        }
        .fs-10{
            font-size: 10px;
        }
        .small span,.small label{
            font-size: 10px;
        }
        .row-info{
            background-color: #dbf0fd;
        }
        .row-avertissement{
            background-color: #fde8db;
        }
        .row-servere{
            background-color: #fdd3d4;
        }
    </style>
</h:head>
<h:body class="app is-collapsed">
    <p:growl id="growl" >
        <p:autoUpdate />
    </p:growl>
    <div>
        <div class="sidebar">
            <div class="sidebar-inner">
                <div class="sidebar-logo">
                    <div class="peers ai-c fxw-nw">
                        <div class="peer peer-greed">
                            <a class="sidebar-link td-n" href="/admin/index.xhtml">
                                <div class="peers ai-c fxw-nw">
                                    <div class="peer">
                                        <div class="logo">
                                            <p:graphicImage library="images" name="ebt.png" />
                                        </div>
                                    </div>
                                    <div class="peer peer-greed">
                                        <h5 class="lh-1 mB-0 logo-text">
                                            <p:graphicImage library="images" name="ebt_name.png" />
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="peer">
                            <div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a></div>
                        </div>
                    </div>
                </div>
                <h:form>
                    <ul class="sidebar-menu scrollable pos-r ps">
                        <li class="nav-item mT-30 active">
                            <p:commandLink styleClass="sidebar-link" update="mainContent" action="#{mainController.set('page','dashboard')}">
                                <span class="icon-holder"><i class="c-blue-500 ti-home"></i> </span>
                                <span class="title">Dashboard</span>
                            </p:commandLink>
                        </li>
                        <li class="nav-item">
                            <p:commandLink styleClass="sidebar-link"  
                                           update="mainContent" 
                                           action="#{mainController.set('page','liste1')}">
                                <span class="icon-holder">
                                            <i class="c-green-500 fa fa-tasks"></i> 
                                </span>
                                <span class="title">Taches</span>
                            </p:commandLink>
                        </li>
                        <li class="nav-item">
                            <p:commandLink styleClass="sidebar-link"  update="mainContent" action="#{mainController.set('page','alerte')}">
                                <span class="icon-holder">
                                    <i class="c-red-500 fa fa-warning"></i> 
                                </span>
                                <span class="title">Alertes</span>
                            </p:commandLink>
                        </li>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </ul>
                </h:form>
            </div>
        </div>
        <div class="page-container">
            <div class="header navbar">
                <div class="header-container">
                    <h:form>
                        <ul class="nav-left">
                            <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a></li>
                            <li class="search-box"><a class="search-toggle no-pdd-right" href="javascript:void(0);"><i class="search-icon ti-search pdd-right-10"></i> <i class="search-icon-close ti-close pdd-right-10"></i></a></li>
                            <li class="search-input">
                                <input class="form-control" type="text" placeholder="Search..."/>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                                    <div class="peer mR-10"><i class="fa fa-user-circle" /></div>
                                    <div class="peer"><span class="fsz-sm c-grey-900">#{mainController.currentActeur.email}</span></div>
                                </a>
                                <ul class="dropdown-menu fsz-sm">
                                    <li><p:commandLink 
                                            update="mainContent"
                                            actionListener="#{mainController.set('page','profil')}" 
                                            styleClass="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                            <i class="ti-user mR-10"></i> 
                                            <span>Profil</span>
                                        </p:commandLink>
                                    </li>
                                    <li><p:commandLink 
                                            update="mainContent"
                                            actionListener="#{mainController.set('page','gestion_user')}" 
                                            styleClass="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                            <i class="fa fa-users mR-10"></i> 
                                            <span>Gestion utilisateur</span>
                                        </p:commandLink>
                                    </li>
                                    <li><p:commandLink 
                                            update="mainContent"
                                            actionListener="#{mainController.set('page','maintenance')}" 
                                            styleClass="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                            <i class="ti-settings mR-10"></i> 
                                            <span>Maintenance</span>
                                        </p:commandLink>
                                    </li>
                                    <li><p:commandLink 
                                            update="mainContent"
                                            actionListener="#{mainController.set('page','param')}" 
                                            styleClass="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                            <i class="ti-settings mR-10"></i> 
                                            <span>Parametres</span>
                                        </p:commandLink>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <p:commandLink
                                            oncomplete="window.location='/logout';"
                                            styleClass="d-b td-n pY-5 bgcH-grey-100 c-grey-700"
                                            actionListener="#{mainController.logout('/logout')}">
                                            <i class="ti-power-off mR-10"></i>
                                            <span>Deconnexion</span>
                                        </p:commandLink>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </h:form>
                </div>
            </div>
            <main class="main-content bgc-grey-200">
                <h:panelGroup id="mainContent">
                    <ui:insert name="main-content" />
                </h:panelGroup>
            </main>
            <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            	<span>Copyright © 2020 <a href="http://www.ebenyx.com/" target="_blank" title="Colorlib">Ebenyx Technologies</a>. All rights reserved.</span>
            </footer>
        </div>
    </div>
    
    
    <h:form>
        <p:confirmDialog global="true" showEffect="fade" 
                         hideEffect="fade"
                                header="veuillez confirmer l'action" 
                         style="white-space: pre;" >
            <p:commandButton value="Non" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            <p:commandButton value="Oui" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        </p:confirmDialog>
    </h:form>
    <p:notificationBar position="top" 
                    effect="slide" 
                    styleClass="top" 
                    widgetVar="NotificationBar">
     <h:form id="NotificationForm" >
         <p:commandLink
             style="margin-right: 10px;float: left; border-radius: 50%;display: inline-block;width: 20px;height:20px; background-color: red;color: black;text-align: center;"
               value="X" 
               onclick="PF('NotificationBar').hide()"/>
         <h:panelGroup>
           Acceder au rapport de l'action via le lien suivant : 
           <h:outputLink value="#{reportController.field.action_report_link}" >
               Telecharger le rapport
           </h:outputLink>
         </h:panelGroup>
     </h:form>
    </p:notificationBar>
    <h:outputScript  library="js" name="jsfcrud.js"/>
    <ui:insert name="before-end-of-body" />
    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
        <p:graphicImage library="images" name="loader.gif" />
    </p:dialog>
    <h:outputScript library="template3" name="vendor.js" />
    <h:outputScript library="template3" name="bundle.js" />
</h:body>
</html>