<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <title>#{app_name}</title>
    <style>
        body{
            padding: 15px;
            text-align: center;
            background: #009bff;
            background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
            background: -o-linear-gradient(left, #0072ff, #00c6ff);
            background: -moz-linear-gradient(left, #0072ff, #00c6ff);
            background: linear-gradient(left, #0072ff, #00c6ff);
        }
        .content {
            height: 100%;   
            width: 100%;
            min-height: 100%;
            padding: 15px;
            width: 100%;
            background: #fff;
            border-radius: 10px;
            padding: 18px 100px 85px 100px;
          }
    </style>
  </h:head>
  <h:body>
    <p:autoUpdate>
      <p:growl />
    </p:autoUpdate>
    <div class="content">
        <ui:insert name="content" />
    </div>
      <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage library="images" name="loader.gif" />
        </p:dialog>
        <p:dialog widgetVar="StatusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage library="images" name="loader.gif" />
        </p:dialog>
    <h:outputStylesheet name="material-colors.min.css" library="css" />
    <h:outputScript  library="js" name="jsfcrud.js"/>
    <h:outputScript library="template3" name="vendor.js" />
    <h:outputScript library="template3" name="bundle.js" />
  </h:body>
</html>
